PORT = 800=
MONGODB_URImongodb+srv://<db_username>:<db_vikash123>@cluster0.tip82dc.mongodb.net
CORS_ORIGIN=*



ACCESS_TOKEN_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
ACCESS_TOKEN_EXPIRY=1d

 REFRESH_TOKEN_SECRET=vikash

  REFRESH_TOKEN_EXPIRY=10d